{% extends 'base.html' %} 

{% block content %}

<main class="container">
  <h1 class="p-4">Meals List</h1>
  <div class="card_container d-flex justify-content-between flex-wrap">
    {% for meal in meals %}
        <div class="card m-4" style="width: 18rem">
          <img src="{{meal.strMealThumb}}" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              {{meal.strMeal}}
            </p>
            <p class="card-text">
              ID#{{meal.idMeal}}
            </p>
          </div>
        </div>
    {% endfor %}
  </div>
</main>

{% endblock %}